
<app-site-header [showProfile]=true></app-site-header>

<div class="container-fluid row">

  <form #locForm="ngForm" (submit)="update()">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name"
             ngModel
             id="name"
             placeholder="Name"
             type="text"
             required
             [value]="name"
             #nameLocal="ngModel"
             class="form-control"/>
    </div>
    <span class="help-block alert-danger" *ngIf="!nameLocal.valid && nameLocal.touched">
      Please enter a name
    </span>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description"
                [(ngModel)]="description"
                id="description"
                placeholder="Description"
                rows="5"
                class="form-control"></textarea>
    </div>

    <button class="btn btn-block btn-primary" type="submit">Update</button>
  </form>

</div>
