
<app-site-header [showProfile]=true></app-site-header>

<div *ngIf="user" class="container">
  <div class="bf-text-1">User profile for {{user.username}}</div>
  <div class="bf-text-3">Name: {{user.firstName}} {{user.lastName}}</div>
  <div class="bf-text-3">Email: {{user.email}}</div>
  <hr/>
  <h3>Reports: {{user.reportCount}}</h3>
  <a (click)="toggleThankers()">
    <h3>Thanks: {{user.thanks.length}}</h3>
  </a>

  <div *ngIf="showThankers">
    <div>
      <ul class="list-group">

        <div *ngFor="let thanker of user.thanks">
          <li class="list-group-item">
            <div class="row">
              <a routerLink="/user/{{thanker._id}}">
                {{thanker.username}}
              </a>
            </div>
          </li>
        </div>

      </ul>
    </div>
  </div>


</div>

<div class="container">
  <div *ngIf="canThank">
    <button class="btn btn-success btn-block bf-button"
            type="button"
            (click)="thank()">Thank this user</button>
  </div>


  <div *ngIf="editPermission">
    <button class="btn btn-danger btn-block bf-button"
            type="button"
            [routerLink]="['/user/' + userId + '/edit']">Edit User Profile</button>
  </div>

  <div *ngIf="canLogout">
    <button class="btn btn-danger btn-block bf-button"
            type="button"
            (click)="logout()">Logout</button>
  </div>

  <div *ngIf="user && user.locations.length > 0">
    <span class="bf-text-2 lead">Owner of these locations:</span>
    <app-location-list [locationList]="user.locations"></app-location-list>
  </div>
</div>
