
<app-site-header [showProfile]=true></app-site-header>

<div class="container">
  <div>
    <h2>User Search</h2>
    <form #f="ngForm" (ngSubmit)="search()">

      <div class="form-group">
        <label for="query">Query</label>
        <input name="query"
               [(ngModel)]="query"
               id="query"
               placeholder="query string"
               type="text"
               required
               class="form-control"/>
      </div>

      <button class="btn btn-primary btn-block bf-button" type=submit>Search</button>
    </form>
  </div>

  <div *ngIf="admin">
    <button class="btn btn-danger btn-block bf-button" type=button
            (click)="listAll()">List All Users</button>
  </div>

  <div *ngIf="admin">
    <button class="btn btn-danger btn-block bf-button" type=button
            (click)="createNewUser()">Create New User</button>
  </div>
</div>

<div class="container">
  <div *ngIf="userList">
    <div>
      <ul class="list-group">

        <div *ngFor="let user of userList">
          <li class="list-group-item">
            <div routerLink="/user/{{user._id}}" class="row bf-list-item-thin">
              <span class="bf-list-bold">
                {{user.username}}
              </span>
            </div>
          </li>
        </div>

      </ul>
    </div>
  </div>
</div>
