
<app-site-header [showProfile]=true></app-site-header>

<div class="container">
  <div *ngIf="location">
    <div class="col-xs-4">
      <img *ngIf="location.image" [src]="location.image" class="bf-detail-img">
    </div>
    <div class="col-xs-8">
      <div class="bf-text-1">{{location.name}}</div>
      <div class="bf-text-2"> Located at {{location.address}}</div>
      <div class="bf-text-3">
        <pre class="bf-pre">{{location.description}}</pre>
      </div>
    </div>
  </div>

  <div *ngIf="loggedIn">
    <Button class="btn btn-block btn-primary bf-button"
            routerLink="/location/{{location._id}}/report">Report a beer at this location</Button>
  </div>

  <div *ngIf="loggedIn && !location.owner">
    <button routerLink="/location/{{location._id}}/claim"
            class="btn btn-primary btn-block bf-button">Claim this location as the owner</button>
  </div>
  <div *ngIf="isOwner || isAdmin"> <!-- || !location.owner -->
    <button routerLink="/location/{{location._id}}/edit"
            class="btn btn-danger btn-block bf-button">Edit Location</button>
  </div>
  <hr/>

  <div class="bf-text-3 lead">Beers available at this location:</div>
</div>

<div class="container">
  <div *ngIf="stockList">
    <div>
      <ul class="list-group">

        <div *ngFor="let stock of stockList">
          <li routerLink="/beer/{{stock.bid}}" class="list-group-item">
            <div class="row bf-list-item-thin">
              <span class="bf-list-bold">
                {{stock.beerName}}
              </span>
              <span class="bf-list-bold">
                In stock: {{stock.count}}
              </span>
              <span class="bf-list-bold">
                Since: {{dateToString(stock.asOf)}}
              </span>
              <span class="bf-list-bold">
                Updated: {{dateToString(stock.updateDate)}}
              </span>
            </div>
          </li>
        </div>

      </ul>
    </div>
  </div>
</div>
