
<app-site-header [showProfile]=true></app-site-header>

<div *ngIf="location">
  <div class="container-fluid">
    <h1>{{location.name}}</h1>
    <h3>{{location.description}}</h3>
  </div>

  <div *ngIf="loggedIn">
    <Button class="btn btn-block btn-primary"
            routerLink="/location/{{location._id}}/report">Report a beer at this location</Button>
  </div>
</div>


<div *ngIf="stockList">
  <div>
    <ul class="list-group">

      <div *ngFor="let stock of stockList">
        <li class="list-group-item">
          <div class="row">
            <a routerLink="/beer/{{stock.bid}}">
              {{stock.beerName}}
            </a>
            <span>
              {{stock.count}}
            </span>
          </div>
        </li>
      </div>

    </ul>
  </div>
</div>
