
<app-site-header [showProfile]=true></app-site-header>

<div *ngIf="location">
  <div class="container-fluid">
    <h1>{{location.name}}</h1>
    <h3>{{location.description}}</h3>
  </div>

  <div *ngIf="loggedIn">
    <Button class="btn btn-block btn-primary"
            routerLink="/location/{{location._id}}/report">Report a beer at this location</Button>
  </div>

  <div *ngIf="loggedIn && !location.owner">
    <button routerLink="/location/{{location._id}}/claim"
            class="btn btn-primary btn-block">Claim this location as the owner</button>
  </div>
  <div *ngIf="isOwner || isAdmin">
    <button routerLink="/location/{{location._id}}/edit"
            class="btn btn-danger btn-block">Edit Location</button>
  </div>
</div>
<div *ngIf="stockList">
  <div>
    <ul class="list-group">

      <div *ngFor="let stock of stockList">
        <li class="list-group-item">
          <div class="row">
            <a routerLink="/beer/{{stock.bid}}">
              {{stock.beerName}}
            </a>
            <span>
              {{stock.count}}
            </span>
            <span>
              Since: {{stock.asOf}}
            </span>
            <span>
              Updated: {{stock.updateDate}}
            </span>
          </div>
        </li>
      </div>

    </ul>
  </div>
</div>
