
<app-site-header [showProfile]=true></app-site-header>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Beer Finder!</h1>
    <p class="bf-text-3">This site helps you find the beer you're looking for.</p>
    <p class="bf-text-3">It can also let you help fellow beer seekers in their own search.</p>
  </div>

  <div>
    <div class="container-fluid">
      <button class="btn-primary btn-lg btn-block"
              routerLink="/beer/search">Search Beers
      </button>
    </div>

    <div class="container-fluid">
      <button class="btn-primary btn-lg btn-block"
              routerLink="/location/search">Browse Locations
      </button>
    </div>

    <div class="container-fluid">
      <button class="btn-primary btn-lg btn-block"
              routerLink="/user/search">Search Users
      </button>
    </div>

    <div *ngIf="!loggedIn">
      <div class="container-fluid">
        <button class="btn-primary btn-lg btn-block"
                routerLink="/login">Login
        </button>
      </div>

      <div class="container-fluid">
        <button class="btn-primary btn-lg btn-block"
                routerLink="/register">Register
        </button>
      </div>
    </div>
  </div>
</div>
