<app-site-header [showProfile]=true></app-site-header>

<div class="container-fluid">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Report a Beer in Stock</h1>

  <form (ngSubmit) = "report()" #form="ngForm">

    <input   placeholder="Beer"
             name="beerQuery"
             type="text"
             class="form-control"
             ngModel
             required
             [disabled]="bid"
             #beerQuery="ngModel"/>
    <a (click)="searchBeers()" class="navbar-link">
      <span class="glyphicon glyphicon-search"></span>
    </a>
    <a (click)="clearBeer()" class="navbar-link">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <span class="help-block alert-danger" *ngIf="!beerQuery.valid && beerQuery.touched">
      Please select a beer
    </span>

    <input   placeholder="Location"
             name="locationQuery"
             type="text"
             class="form-control"
             ngModel
             required
             [disabled]="lid"
             #locationQuery="ngModel"/>
    <a (click)="searchLocations()" class="navbar-link">
      <span class="glyphicon glyphicon-search"></span>
    </a>
    <a (click)="clearLocation()" class="navbar-link">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <span class="help-block alert-danger" *ngIf="!locationQuery.valid && locationQuery.touched">
      Please select a location
    </span>

    <input   placeholder="Count available at this location"
             name="count"
             type="number"
             class="form-control"
             ngModel
             required
             #count="ngModel"/>
    <span class="help-block alert-danger" *ngIf="!count.valid && count.touched">
      Please enter the count available at this location
    </span>

    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!repForm.valid || !bid || !lid">Report</button>

    <button class="btn btn-danger btn-block"
            (click)="goBack()">Cancel</button>
  </form>
</div>

<div>
  <ul class="list-group">

    <div *ngFor="let beerRecord of beerList">
      <li class="list-group-item">
        <div class="row">
          <a (click)="setBeer(beerRecord.beer.bid)">
            {{beerRecord.beer.beer_name}}
          </a>
        </div>
      </li>
    </div>

  </ul>
</div>

<div>
  <ul class="list-group">

    <div *ngFor="let location of locationList">
      <li class="list-group-item">
        <div class="row">
          <a (click)="setLocation(location._id)">
            {{location.name}}
          </a>
        </div>
      </li>
    </div>

  </ul>
</div>
