<app-site-header [showProfile]=true></app-site-header>

<div class="container">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Report a Beer in Stock</h1>

  <form #form="ngForm">
    <label for="beerQuery">Beer</label>
    <input   placeholder="Search for beers"
             id="beerQuery"
             name="beerQuery"
             type="text"
             class="form-control"
             ngModel
             required
             [value]="beerName"
             [disabled]="bid"
             #beerQuery="ngModel">

    <div class="container-fluid">
      <div class="pull-right">
        <button (click)="searchBeers()" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>&nbsp;Search
        </button>
        <button (click)="clearBeer()" class="btn btn-default">
          <span class="glyphicon glyphicon-remove"></span>&nbsp;Clear
        </button>
      </div>
    </div>

    <label for="locationQuery">Location</label>
    <input   placeholder="Search locations"
             id="locationQuery"
             name="locationQuery"
             type="text"
             class="form-control"
             ngModel
             required
             [value]="locationName"
             [disabled]="lid"
             #locationQuery="ngModel"/>

    <div class="container-fluid">
      <div class="pull-right">
        <button (click)="searchLocations()" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>&nbsp;Search
        </button>
        <button (click)="clearLocation()" class="btn btn-default">
          <span class="glyphicon glyphicon-remove"></span>&nbsp;Clear
        </button>
      </div>
    </div>

    <label for="count">Quantity</label>
    <input   placeholder="Count available at this location"
             id="count"
             name="count"
             type="number"
             class="form-control"
             ngModel
             required
             [value]="stockCount"
             #count="ngModel"/>
    <span class="help-block alert-danger" *ngIf="!count.valid && count.touched">
      Please enter the count available at this location
    </span>

    <button class="btn btn-primary btn-block"
            (click)="report()"
            [disabled]="!repForm.valid || !bid || !lid">Report</button>

    <button class="btn btn-danger btn-block"
            (click)="goBack()">Cancel</button>
  </form>
</div>
<div class="container">
  <div>
    <ul class="list-group">

      <div *ngFor="let beerRecord of beerList">
        <li class="list-group-item">
          <div (click)="setBeer(beerRecord)" class="row">
            <div class="bf-list-item-thin">
              {{beerRecord.beer.beer_name}}
            </div>
          </div>
        </li>
      </div>

    </ul>
  </div>

  <div>
    <ul class="list-group">

      <div *ngFor="let location of locationList">
        <li class="list-group-item">
          <div (click)="setLocation(location)" class="row">
            <div class="bf-list-item-thin">
              {{location.name}}
            </div>
          </div>
        </li>
      </div>

    </ul>
  </div>
</div>
