
<app-site-header [showProfile]=true></app-site-header>

<div class="container">

  <form #f="ngForm">

    <div class="form-group">
      <label for="username">Username</label>
      <input name="username"
             [(ngModel)]="username"
             type="text"
             class="form-control"
             id="username"
             placeholder="username"
             [readonly]="!admin"
             required
             (focus)="setUpdated(false)">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email"
             [(ngModel)]="email"
             #emailLocal="ngModel"
             type="email"
             class="form-control"
             id="email"
             [email]="email !== ''"
             placeholder="email"
             (focus)="setUpdated(false)">
    </div>
    <span class="help-block alert-danger" *ngIf="!emailLocal.valid && emailLocal.touched">
      Please enter a valid email address
    </span>

    <div class="form-group">
      <label for="first-name">First Name</label>
      <input name="firstName"
             [(ngModel)]="firstName"
             type="text"
             class="form-control"
             id="first-name"
             (focus)="setUpdated(false)">
    </div>

    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input name="lastName"
             [(ngModel)]="lastName"
             type="text"
             class="form-control"
             id="last-name"
             (focus)="setUpdated(false)">
    </div>

    <button class="btn btn-primary btn-block"
            type="button"
            (click)="update()">Save</button>

    <a class="btn btn-danger btn-block"
       (click)="logout()">Logout</a>

    <a class="btn btn-danger btn-block "
       (click)="deleteUser()">Delete User Profile</a>
  </form>

  <div *ngIf="updated"
       class="alert alert-success">
    Update Saved
  </div>
</div>

