<app-site-header [showProfile]=true></app-site-header>

<div class="container-fluid">
  <div>
    <h2>Beer Search</h2>
    <form #f="ngForm" (ngSubmit)="search()">

      <div class="form-group">
        <label for="query">Query</label>
        <input name="query"
               [(ngModel)]="query"
               id="query"
               placeholder="query string"
               type="text"
               required
               class="form-control"/>
      </div>

      <button class="btn btn-primary btn-block" type=submit>Search</button>
    </form>
  </div>
</div>
<app-beer-list [beerList]="beerList"></app-beer-list>
